.card.custom-card {
    background: #424874;
    border-radius:15px;
}

.card.custom-card2 {
    border-radius:15px;
}

.owl-theme .owl-nav.disabled+.owl-dots{
    display : none;
}

.card.custom-card {
    background: #424874;
    border-radius:15px;
}

.card.custom-card2 {
    border-radius:15px;
}

.employee-title-job p {
    color : #eee;
}

.gambar {
    height:55px;
    width:55px;
    float: right;
}

.gambar img {
    object-fit:cover;
    border-radius : 10px;
}

.menu-item {
    background: #7286D3;
    padding: 15px;
    border-radius: 12px;
}

.menu-title h5 {
    font-weight : 400;
}

.bg-custom-biru {
    background: #424874!important;
}

.button-biru {
    background: #424874!important;
    border-radius: 10px!important;
    border-color: #424874!important;
}

.menu-mobile-wrap {
    background: #fff;
    border-radius: 15px;
    padding: 15px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 10px;
    margin-bottom: 8px;
    z-index: 1020;
    box-shadow: 0 0 12px 0 rgba(183, 192, 206, 0.2);
}

.menu-header-wrap {
    background: #fff;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0px;
    z-index: 1020;
    box-shadow: 0 0 12px 0 rgba(183, 192, 206, 0.2);
}

img.logo-mobile {
    max-height: 35px;
    height: 100%;
}

.menu-item-nav p {
    font-size : 13px;
    font-weight : 500;
    margin-top : 3px;
    letter-spacing : 0.3px;
    text-transform: uppercase;
}

.menu-item-nav svg.icon-lg {
    height : 23px;
    width : 23px;
}

a.text-muted.nav-link.active {
    color : #424874!important;
}

.icon.text-center {
    background: #FBB040;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    margin: auto;
}

.icon.text-center svg.icon-lg {
    height: 20px;
    width: 20px;
    align-self: center;
    text-align: center;
    margin: auto;
}

.menu-name.text-center {
    margin-top: 10px;
    line-height: 15px;
    font-size: 12px;
}

.color-custom {
    color : #545C95!important;
}

.color-custom-secondary {
    color: #354259!important;
}

.icon-wrap-slip {
    padding: 15px;
    background: #424874;
    border-radius: 7px;
}

.icon-profile-menu {
    border-radius: 7px;
}

.input-custom {
    background: #eee;
    padding: 10px;
    border-radius: 10px;
}

.input-custom p {
    font-size: 12px;
    color: #555;
}

.input-custom h5 {
    font-size: 15px;
    color: #000;
    font-weight: 400;
    line-height: 1.2rem;
}
.footer-saving {
    background: #424874;
    border-radius: 0px 0px 15px 15px;
    color: #fff;
}


.feedback-button-wrap {
    position: fixed;
    bottom: 30%;
    left: 0;
    background: #424874;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    z-index: 999;
    transition: background-color 200ms ease-out;
}

.icon-feedback p {
    display: block;
    visibility: hidden;
    margin-left: -60px; /* Atur nilai awal margin kiri agar elemen tersembunyi di luar layar */
    transition: margin-left 200ms ease-out;
}

.feedback-button-wrap:hover .icon-feedback p {
    visibility: visible;
    margin-left: 5px;
}

/* Feedback */
.feedback {
    --normal: #eceaf3;
    --normal-shadow: #d9d8e3;
    --normal-mouth: #9795a4;
    --normal-eye: #595861;
    --active: #f8da69;
    --active-shadow: #f4b555;
    --active-mouth: #f05136;
    --active-eye: #313036;
    --active-tear: #76b5e7;
    --active-shadow-angry: #e94f1d;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.feedback li {
    position: relative;
    border-radius: 50%;
    background: var(--sb, var(--normal));
    box-shadow: inset 3px -3px 4px var(--sh, var(--normal-shadow));
    transition: background 0.4s, box-shadow 0.4s, transform 0.3s;
    -webkit-tap-highlight-color: transparent;
}
.feedback li:not(:last-child) {
    margin-right: 20px;
}
.feedback li div {
    width: 40px;
    height: 40px;
    position: relative;
    transform: perspective(240px) translateZ(4px);
}
.feedback li div svg, .feedback li div:before, .feedback li div:after {
    display: block;
    position: absolute;
    left: var(--l, 9px);
    top: var(--t, 13px);
    width: var(--w, 8px);
    height: var(--h, 2px);
    transform: rotate(var(--r, 0deg)) scale(var(--sc, 1)) translateZ(0);
}
.feedback li div svg {
    fill: none;
    stroke: var(--s);
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke 0.4s;
}
.feedback li div svg.eye {
    --s: var(--e, var(--normal-eye));
    --t: 17px;
    --w: 7px;
    --h: 4px;
}
.feedback li div svg.eye.right {
    --l: 23px;
}
.feedback li div svg.mouth {
    --s: var(--m, var(--normal-mouth));
    --l: 11px;
    --t: 23px;
    --w: 18px;
    --h: 7px;
}
.feedback li div:before, .feedback li div:after {
    content: "";
    z-index: var(--zi, 1);
    border-radius: var(--br, 1px);
    background: var(--b, var(--e, var(--normal-eye)));
    transition: background 0.4s;
}
.feedback li.angry {
    --step-1-rx: -24deg;
    --step-1-ry: 20deg;
    --step-2-rx: -24deg;
    --step-2-ry: -20deg;
}
.feedback li.angry div:before {
    --r: 20deg;
}
.feedback li.angry div:after {
    --l: 23px;
    --r: -20deg;
}
.feedback li.angry div svg.eye {
    stroke-dasharray: 4.55;
    stroke-dashoffset: 8.15;
}
.feedback li.angry.active {
    animation: angry 1s linear;
    height: 40px;
}
.feedback li.angry.active div:before {
    --middle-y: -2px;
    --middle-r: 22deg;
    animation: toggle 0.8s linear forwards;
}
.feedback li.angry.active div:after {
    --middle-y: 1px;
    --middle-r: -18deg;
    animation: toggle 0.8s linear forwards;
}
.feedback li.sad {
    --step-1-rx: 20deg;
    --step-1-ry: -12deg;
    --step-2-rx: -18deg;
    --step-2-ry: 14deg;
}
.feedback li.sad div:before, .feedback li.sad div:after {
    --b: var(--active-tear);
    --sc: 0;
    --w: 5px;
    --h: 5px;
    --t: 15px;
    --br: 50%;
}
.feedback li.sad div:after {
    --l: 25px;
}
.feedback li.sad div svg.eye {
    --t: 16px;
}
.feedback li.sad div svg.mouth {
    --t: 24px;
    stroke-dasharray: 9.5;
    stroke-dashoffset: 33.25;
}
.feedback li.sad.active div:before, .feedback li.sad.active div:after {
    animation: tear 0.6s linear forwards;
}
.feedback li.ok {
    --step-1-rx: 4deg;
    --step-1-ry: -22deg;
    --step-1-rz: 6deg;
    --step-2-rx: 4deg;
    --step-2-ry: 22deg;
    --step-2-rz: -6deg;
}
.feedback li.ok div:before {
    --l: 12px;
    --t: 17px;
    --h: 4px;
    --w: 4px;
    --br: 50%;
    box-shadow: 12px 0 0 var(--e, var(--normal-eye));
}
.feedback li.ok div:after {
    --l: 13px;
    --t: 26px;
    --w: 14px;
    --h: 2px;
    --br: 1px;
    --b: var(--m, var(--normal-mouth));
}
.feedback li.ok.active div:before {
    --middle-s-y: 0.35;
    animation: toggle 0.2s linear forwards;
}
.feedback li.ok.active div:after {
    --middle-s-x: 0.5;
    animation: toggle 0.7s linear forwards;
}
.feedback li.good {
    --step-1-rx: -14deg;
    --step-1-rz: 10deg;
    --step-2-rx: 10deg;
    --step-2-rz: -8deg;
}
.feedback li.good div:before {
    --b: var(--m, var(--normal-mouth));
    --w: 5px;
    --h: 5px;
    --br: 50%;
    --t: 22px;
    --zi: 0;
    opacity: 0.5;
    box-shadow: 16px 0 0 var(--b);
    filter: blur(2px);
}
.feedback li.good div:after {
    --sc: 0;
}
.feedback li.good div svg.eye {
    --t: 15px;
    --sc: -1;
    stroke-dasharray: 4.55;
    stroke-dashoffset: 8.15;
}
.feedback li.good div svg.mouth {
    --t: 22px;
    --sc: -1;
    stroke-dasharray: 13.3;
    stroke-dashoffset: 23.75;
}
.feedback li.good.active div svg.mouth {
    --middle-y: 1px;
    --middle-s: -1;
    animation: toggle 0.8s linear forwards;
}
.feedback li.happy div {
    --step-1-rx: 18deg;
    --step-1-ry: 24deg;
    --step-2-rx: 18deg;
    --step-2-ry: -24deg;
}
.feedback li.happy div:before {
    --sc: 0;
}
.feedback li.happy div:after {
    --b: var(--m, var(--normal-mouth));
    --l: 11px;
    --t: 23px;
    --w: 18px;
    --h: 8px;
    --br: 0 0 8px 8px;
}
.feedback li.happy div svg.eye {
    --t: 14px;
    --sc: -1;
}
.feedback li.happy.active div:after {
    --middle-s-x: 0.95;
    --middle-s-y: 0.75;
    animation: toggle 0.8s linear forwards;
}
.feedback li:not(.active) {
    cursor: pointer;
    height: 40px;
}
.feedback li:not(.active):active {
    transform: scale(0.925);
}
.feedback li.active {
    --sb: var(--active);
    --sh: var(--active-shadow);
    --m: var(--active-mouth);
    --e: var(--active-eye);
}
.feedback li.active div {
    animation: shake 0.8s linear forwards;
    height: 20px;
}

input.rating {
    top: -28px;
    left: 13px;
    position: relative;
    opacity: 0;
    cursor: pointer;
    z-index: 99;
}

.feedback-berhasil .feedback {
    justify-content: center;
}

.feedback-berhasil .feedback li.active div {
    height: 40px;
}

.form-check-input:checked {
    background-color: #424874!important;
    border-color: #424874!important;
}

.wrapper-pengajuan .foto-profile {
    height: 50px;
    width: 54px;
}

.wrapper-pengajuan .foto-profile img {
    border-radius: 50%;
    object-fit: cover;
}

.wrapper-pengajuan.d-flex.mb-4:last-child{
    margin-bottom: 0!important;
}

a.navbar-brand img {
    max-height: 35px;
    height: 100%;
    object-fit: cover;
}

@keyframes shake {
    30% {
        transform: perspective(240px) rotateX(var(--step-1-rx, 0deg)) rotateY(var(--step-1-ry, 0deg)) rotateZ(var(--step-1-rz, 0deg)) translateZ(10px);
   }
    60% {
        transform: perspective(240px) rotateX(var(--step-2-rx, 0deg)) rotateY(var(--step-2-ry, 0deg)) rotateZ(var(--step-2-rz, 0deg)) translateZ(10px);
   }
    100% {
        transform: perspective(240px) translateZ(4px);
   }
}
@keyframes tear {
    0% {
        opacity: 0;
        transform: translateY(-2px) scale(0) translateZ(0);
   }
    50% {
        transform: translateY(12px) scale(0.6, 1.2) translateZ(0);
   }
    20%, 80% {
        opacity: 1;
   }
    100% {
        opacity: 0;
        transform: translateY(24px) translateX(4px) rotateZ(-30deg) scale(0.7, 1.1) translateZ(0);
   }
}
@keyframes toggle {
    50% {
        transform: translateY(var(--middle-y, 0)) scale(var(--middle-s-x, var(--middle-s, 1)), var(--middle-s-y, var(--middle-s, 1))) rotate(var(--middle-r, 0deg));
   }
}
@keyframes angry {
    40% {
        background: var(--active);
   }
    45% {
        box-shadow: inset 3px -3px 4px var(--active-shadow), inset 0 8px 10px var(--active-shadow-angry);
   }
}
